<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228214197243-lm636corfq864r9r77rnae52j9e6lrnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228214197243-lm636corfq864r9r77rnae52j9e6lrnl</string>
	<key>API_KEY</key>
	<string>AIzaSyD7f-KKe55hxsel0zsFPd5eipr0XJd9950</string>
	<key>GCM_SENDER_ID</key>
	<string>228214197243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>jellybean-3561c</string>
	<key>STORAGE_BUCKET</key>
	<string>jellybean-3561c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228214197243:ios:fdf18c66d5bd9090d0195e</string>
</dict>
</plist>